.container {
  border-radius: var(--border-radius-lg);
  width: 100%;
  max-width: 862px;
  padding: 32px;
  background: rgb(var(--base-color));
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.info {
  display: flex;
  gap: 24px;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 24px;
}
