.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginContainer {
  margin-bottom: 16px;
}

.login {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--base-color-dark));
  margin-bottom: 8px;
}

.repoLink {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(var(--link-color));
  text-overflow: ellipsis;
  overflow: hidden;
}
