.itemContainer {
  height: 180px;
  width: 100%;
  max-width: 282px;
  border-radius: var(--border-radius-lg);
  background-color: rgb(var(--base-color));
  padding: 24px;
  margin-bottom: 12px;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.loginContainer {
  margin-bottom: 16px;
}

.login {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--base-color-dark));
  margin-bottom: 8px;
}

.loginLink {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(var(--link-color));
}
