@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --base-color: 255, 255, 255;
  --base-color-dark: 58, 58, 58;
  --base-color-light-dark: 132, 134, 140;
  --padding-side: 120px;
  --tag-color: 241, 245, 249;
  --link-color: 30, 137, 240;
  --detail-button-background-color: 212, 67, 51;
  --notification-background-color: 212, 67, 51;
  --border-color: 33, 34, 35;

  --favorite-button-true: 212, 67, 51;
  --favorite-button-navigation-color: var(--base-color);
  --favorite-button-stroke-width-true: 1;
  --favorite-button-stroke-width-false: 0;

  --action-button-padding-small: 8px 16px;
  --action-button-padding-medium: 12px 16px;

  --actions-gap-small: 16px;
  --actions-gap-medium: 32px;

  --actions-icon-size-small: 32px;
  --actions-icon-size-medium: 40px;

  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-lg: 20px;

  --spinner-size-xs: 10px;
  --spinner-size-s: 15px;
  --spinner-size-m: 30px;
  --spinner-size-lg: 50px;

  --spinner-color: rgb(var(--base-color-dark));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: 'Noto Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(var(--base-color-dark), 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 600px) {
  :root {
    --padding-side: 20px;
  }
}
